.UserInfoImg{
    display: flex;
    justify-content: end;

    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.UserInfoAbout:hover{
    color: #01b4e4;
}
.UserInfoAbout{
    color: gainsboro;
    display: block;


}
.UserInfoWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserInfoName{
    margin-top: 20px;
    margin-right:5px;
}
.UserInfoPassword{
    margin-right: 10px;
}

