.MoviesListCardWrap {
    width: 1000px;
    display:grid;
    grid-template-columns: auto auto auto;


}

.MoviesListCard {
    width: min-content;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.MoviesListCardImg {
width: 33.3vw;
}

div.MovieCardText{
    solid-opacity: 40%;
}
.MovieCardText {
    display: block;
    background-color: #121212;
    width: 400px;
    position: absolute;
    bottom: 50px;
    padding: 20px;
    opacity: 50%;

    border-radius: 30px;

}


.MoviesListCardTitle {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}
.MovieCardRating{
    display: flex;
    justify-content: center;
}
.fa-thumbs-up{
    padding-right: 10px;
    font-size: 30px;
}

.MoviesListCardStar {
    text-align: center;
    color: white;
    font-weight: bolder;

}