.GenreWrap{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 100vw;
    justify-content: space-evenly;


}
.GenreDiv:hover{
    color: #01b4e4;
}
.GenreDiv{

    width: 110px;
    height: 35px;
    margin: 3px;


    font-size: 13px;
    font-weight: bolder;

    display: flex;
    color: silver;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.GenreLink{
    text-decoration: none;
}